* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 20px 30px;
  padding: 15px;
}

#high-scores {
  color: mediumorchid;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 65%;
}

.title {
  margin: 10px;
  padding: 5px;
  font-size: 36px;
  font-weight: bolder;
}

#main {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
}

.button {
  position: relative;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: midnightblue;
  color: white;
  border: none;
  width: auto;
  min-width: 200px;
  text-align: left;
  font-size: 20px;
}

#start,
#submit-btn,
#go-back,
#clear {
  align-self: center;
  text-align: center;
  min-width: fit-content;
}

#submit-btn,
#go-back,
#clear {
  padding: 5px 20px;
}

.button:hover {
  background-color: mediumorchid;
}

.answer-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.feedback {
  color: gray;
  border-top: 1px solid gray;
  text-align: left;
  padding: 15px 5px;
  margin: 20px 0;
  font-size: 20px;
  width: 100%;
  order: 2;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  order: 1;
}

.form label,
.form input {
  margin: 5px;
  font-size: 20px;
}

.highscore-table {
  margin: 10px 15px;
  padding: 10px 30px;
  font-size: 20px;
  background-color: aliceblue;
}

.score-list-item {
  text-align: left;
  padding: 10px 0;
}